     		.email{
					display:inline-block;
					width:  200px;
					margin-left:  500px;
					font-family: roboto;
					color: white;
				}
			.pass{
					display:inline-block;
					width:  200px;
					margin-left:  50px;
					font-family: roboto;
					color: white;
			}
			.forget{
				margin-left: 1200px;
				font-family: roboto;
				color: white;
			}
